<style>
  footer {
      position: relative;
      bottom: -460px;
      color: white;
  }

  p {
    color: white;
  }

  .cat-search {
    padding-top: 15rem;
  }

  body {
    background-image: url('https://images.wallpaperscraft.com/image/single/suv_valley_road_114745_1920x1080.jpg');
    background-repeat: no-repeat;
  }

  .form-group {
    padding-left: 5vw;
    padding-right: 5vw;
   }
   

</style>

<body>
  <div class="form-group">
    <div class="cat-search">
      <h1 style = 'color: white'>What are you looking for?</h1>
      <%= render 'partials/search' %>
    </div>
  </body>
